@media (max-width: 1023px) {
  .container-root {
    min-width: 100vw;
    height: 100vh;
    background-color: #a21616;
  }
}

@media (min-width: 1024px) {
  .container-root{
    min-width: 100vw;
    height: 100vh;
    background-color: #a21616;
  }
}
