//home
$home_bg : #ebb4ae;
$home_card : white;

//profile
$profile_bg :#f0e5df;

//venue
$venue_card_outer: #e7b2ac;
$venue_card_inner: #f1dcda;

//reservation
$reservation_card_comment: #f2f1ee;

//gift
$gift_card_bankinfo: #a21616;

//footer
$footer_bg : lightgrey;

//seperator
$seperator1: #3a3a3a;

//static
$yellow : yellow;
$black: #000000;
$gold: rgb(197, 167, 87);

.goldText{
  color: $gold;
}

.whiteText{
  color: #dddddd;
}

.defaultText{
  color: #363636;
}
