//home
$home_bg : yellow;
$home_card : white;

//profile
$profile_bg: black;

//footer
$footer_bg : lightgrey;

//seperator
$seperator1: #3a3a3a;

//static
$yellow : yellow;
$black: #000000;
$gold: rgb(197, 167, 87);

.goldText{
  color: $gold;
}
